[submodule "ext/dear_spdlog"]
	path = ext/dear_spdlog
	url = git@github.com:awegsche/dear_spdlog.git
[submodule "ext/toml11"]
	path = ext/toml11
	url = git@github.com:ToruNiina/toml11.git
[submodule "ext/LibRaw-cmake"]
	path = ext/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "ext/LibRaw"]
	path = ext/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
